*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100%;
}
body{
    position: relative;
    min-width: 320px;
    max-width: 100vw;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 23px;
    background-color:#FFFFFF;
    width: 100%;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
}
h2{
    font-weight: 400;
    line-height: 39px;
    font-size: 27px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
b{
    font-size: 27px;
    line-height: 39px;
}
a>p{
    text-decoration: underline;
}
a:hover{
    color: #329FD9;

}
p{
    font-size: 16px;
    line-height: 23px;

}
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(../img/bg1.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    justify-content: center;
    min-height: 300px;
}
.header__container{
    margin-top: 55px;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}
.header__text-container-1>p{
    margin-top: 30px;
}
.header__container-nav-logo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    align-items: flex-start;
    height: 111px;
    color: #FFFFFF;
    padding: auto;
}
.logo-image{
    display: flex;
    height: 111px;
}
nav{
    display: none; 
}
.nav{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding-right: 10px;
    align-items: center;

}
nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    justify-content: space-around;
    gap: 20px;
}
[for=burger]{
    align-items: flex-start;
    font-size: 32px;
}
[for=burger]::before{
    content: '☰';
}
#burger{
    display: none;
    width: 0;
}
#burger:checked + label + nav{
    display: flex;
    justify-content: center;
}
#burger:checked + [for=burger]::before{
    content: '×';
    margin-right: 50px;
}
menu{
    text-align: center;
}
.header__form{
    display: flex;
    width: 100%;
    height:max-content;
    margin-top: 10%;
    padding-left: 20%;
    margin-bottom: 10%;
}
.form{
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 40px;
}
input[type=text] {
    box-sizing: border-box;
    width:255px;
    max-height: 50px;
    min-height: 40px;
    border-radius: 5px;
    background-color: #C4C4C4;
  }
input[type=phone] {
    box-sizing: border-box;
    width: 255px;
    max-height: 50px;
    min-height: 40px;
    border-radius: 5px;
    background-color: #C4C4C4;
  }
input[type=text]:focus, input[type=phone]:focus{
    background-color: #FFFFFF;
}
button[type=submit]{
    border-radius: 5px;
    box-sizing: border-box;
    width: 255px;
    max-height: 50px;
    min-height: 40px;
    background-color: #15468D;
    color: #FFFFFF;
}
button[type=submit]:hover{
    background-color: #329FD9;

}
.header__text-container-1{
    margin-top: 2%;
    text-align: left;
    width: 45%;
}
.header__text-container-2{
    display: flex;
    text-align: left;
    margin-top: 10%;
    width: 85%;
    min-width: 108px;
}
.main__service{
    height: max-content;
    margin-top: 0;
    padding-top: 100px;
    background: #FFFFFF;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.main__service>h1{
    margin-bottom: 40px;
}
.card-wrapper{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 150px;
    gap: 20px;
}
.main__service__card{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__service__card img{
    width: 60px;
    height: 60px;
    margin-bottom: 22px;
}
.main__service__text-cards{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}
.main__service__text-cards>h2{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.main__service__text-cards>h1{
    text-align: center;
}
.main__service__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    min-width: 0;
    color: #FFFFFF;
}
.main__service p{
    text-align: left;
}
div .swiper{
    display: none;
}
.swiper{
    min-width: 0;
   height: 415px;
}
.swiper-wrapper{
    min-height: 100%;
}
.main__service__img__image{
    height: 415px;
    width: 500px;
    border-radius: 0px;
    display: flex;
    align-items: flex-end;
    padding-left: 40px;
    padding-bottom: 40px;
    background-position: 50% 50%;
    background-size: cover;
    color: #FFFFFF;
}
.swiper-slide>p{
    position: absolute;
    left: 40px;
    bottom: 40px;
}
#img-1{
    background-image: url('../img/1.png');
}
#img-2{
    background-image: url('../img/2.png');
}
#img-3{
    background-image: url('../img/3.png');
}
#img-4{
    background-image: url('../img/4.png');
}
.main__airplane{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 100px;
}
.main__airplane__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    text-align: left;
    column-gap: 20px;
    row-gap: 60px;
    margin-bottom: 150px;
}
.card img{
    width: 350px;
    height: 233px;
    margin-bottom: 20px;
}
.main__partners{
    display: flex;
    text-align: center;
    background-color: #FFFFFF;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;

}
#about-clients h1{
    margin-top: 100px;
    margin-bottom: 27px;
}
.client-logo{
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 40px;
    width: 50%;
}
#about-clients{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.feetback-with-logo{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}
.logo-wrap{
    display: flex;
    gap: 20px ;
    width: 50%;
}
.arrow-main{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    width: 150px;
}
.arrow-main-mobile{
    display: none;
}
.logo-wrap-text{
    width: 100%;
}
.left-arrow, 
.right-arrow {
  display: inline-flex;
  position: relative;
  width: 65px;
  height: 0px;
  cursor: pointer;
}

.left-arrow::before,
.right-arrow::before,
.left-arrow::after,
.right-arrow::after {
  display: inline-flex;
  position: absolute;
  content: '';
}


.left-arrow::before,
.right-arrow::before {
  top: 8px;
  left: 0;
  width: 65px;
  height: 3px;
  background-color: #C4C4C4; 
}

.left-arrow::after,
.right-arrow::after {
  width: 10px;
  height: 10px;
  top: 3px;
}

.left-arrow::after {
  left: 0;
  border-top: 3px solid #C4C4C4;
  border-left: 3px solid #C4C4C4;
  transform: rotate(-45deg);
}

.right-arrow::after {
  right: 0;
  border-top: 3px solid #C4C4C4;
  border-right: 3px solid #C4C4C4;
  transform: rotate(45deg);
}


.left-arrow:hover::before,
.right-arrow:hover::before {
  background-color: #329FD9; 
}

.left-arrow:hover::after {
  border-top: 3px solid #329FD9;
  border-left: 3px solid #329FD9;
}

.right-arrow:hover::after {
  border-top: 3px solid #329FD9;
  border-right: 3px solid #329FD9;
}
.feetback-text{
    display: flex;
    justify-content: center;
    width: 47%;
    background: #E5E5E5;
    border-radius: 20px;
    text-align: left;
    padding: 20px 20px 30px 20px;
    text-align: left;
}
.main__contacts{
    display: flex;
    text-align: center;
    flex-flow: column;
    padding-top: 100px;
    background: #808080;
    padding-bottom: 150px;
    color: #FFFFFF;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;

}
.main__contacts__contacts{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}
.main__contacts__contacts__text{
    text-align: left;
    margin-right: 52px;
    margin-bottom: 30px;
    justify-content: left;
}
.main__partners__logo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    overflow: hidden;
    margin-left: 20%;
    margin-bottom: 150px;
}
.main__partners__logo>img{
    max-width: 350px;
}
#map{
    width: 730px;
    height: 450px;
}
footer{
    color: #FFFFFF;
    background: #000000;
}
.footer__form{
    display: flex;
    width: 100%;
    height:max-content;
    padding-left: 20%;
    padding-top: 50px;
}
.footer__text{
    display: flex;
    margin-top: 83px;
    height: 83px;
    background-color: #FFFFFF;
    color: #000000;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 800px){
    header{
        align-items: center;
    }
    .header__container{
        padding-left: 7%;
        padding-right: 7%;
    }
    .phone{
        display: none;
    }
    .header__form{
        background-color: #000000;
        padding-top: 30px;
        justify-content: center;
        padding-left: 12px;
        padding-right: 12px;
    }
    h1{
        font-size: 24px;
        line-height: 35px;
    }
    h3{
        font-size: 16px;
        line-height: 23px;
    }
    nav ul{
        flex-direction: column;
    }
    .main__partners__logo{
        display: none;
    }
    .main__service{
        padding-left: 7%;
        padding-right: 7%;
    }
    .main__airplane__wrapper{
        margin-left: 7%;
        margin-right: 7%;
    }
    .card img{
        width: 280px;
    }
    .main__partners{
        padding-left: 7%;
        padding-right: 7%;
        margin-left: 0;
        margin-right: 0;
    }
    .main__contacts{
        padding-left: 7%;
        padding-right: 7%;
    }
    .feetback-text{
        width: 280px;
        margin-left: 0;
    }
    #map{
        width: 280px;
    }
    .footer__form{
        justify-content: center;
        padding-left:  12px;
        padding-right: 12px;
    }
    .arrow-main{
        display: none;
    }
    .arrow-main-mobile{
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
        width: 150px;
        margin-bottom: 60px;
        justify-self: center;
        align-self: center;
    }
    #footer__text{
        display: none;
    }
    .main__partners__logo{
        display: none;
    }
    .nav{
        align-items: center;
        padding-right: 0;
        background: none;
    }
    .header-logo{
        width: 100%;
        justify-content: space-between;
    }
    form{
        display: flex;
        flex-direction: column;


    }
    .form{
        width: 100%;
        column-gap: 0;
        align-items: center; 
        justify-content: center;
    }
    form h1{
        text-align:justify;
    }
    .feetback-with-logo{
        align-items: center;
        justify-content: center;
    }
    .nav ul{
        justify-content: center;
        text-align: center;
    }
    .header__container{
        display: flex;
        flex-direction: column;
    }
    .header__text-container-1, .header__text-container-2{
        width: 100%;
    }
    .input{
        width: 100%;
    }
    input[type=text], input[type=phone], button[type=submit]{
        width: 100%;
    }
    div .swiper{
        display: block;
    }
    div .main__service__img{
        display: none;
    }
    .main__service__text-cards{
        padding-left: 7%;
        padding-right: 7%;
    }
}