*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 'Jost', sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    width: 100%;
}
h1{
    font-style: normal;
    font-weight: 700;
}
h2{
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
header{
    display: flex;
    width: 100%;
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}
.header__container-nav-logo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    width: 156px;
    height: 111px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 900;
    padding: auto;
}
nav{
    display: none;
}
nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
[for=burger]{
    text-align: center;
    margin-left: 50px;
    width: 18px;
    height: 18px;
}
[for=burger]::before{
    content: '☰';
}
#burger{
    display: none;
}
#burger:checked + label + nav{
    display: flex;
}
#burger:checked + [for=burger]::before{
    content: '×';
    margin-right: 50px;
}
menu{
    text-align: center;
}
.header__form{
    margin-bottom: 0;
    height: 341px;
}
.header__text-container-1{
    margin-top: 2%;
    text-align: left;
    width: 40%;
}
.header__text-container-2{
    display: flex;
    text-align: left;
    margin-top: 10%;
    width: 35%;
    padding-top: 0;
}
main{
    display: flex;
    justify-content: center;
}
.main__service__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
    width: 100%;
    margin-top: 100px;
    background: #FFFFFF;
    overflow: hidden;
}
.main__service__img__image{
    height: 415px;
    width: 555px;
    border-radius: 0px;

}
#img-1{
    background-image: url('../img/1.png');
}
#img-2{
    background-image: url('../img/2.png');
}
#img-3{
    background-image: url('../img/3.png');
}
#img-4{
    background-image: url('../img/4.png');
}

footer{
    color: #FFFFFF;
    background: #000000;
}
.footer__form{
    margin-top: 0;
    height: 341px;
}
.footer__text{
    display: flex;
    margin-top: 83px;
    height: 83px;
    background-color: #E5E5E5;
    color: #000000;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 320px){
    .header{
        align-items: center;
    }
    .phone{
        display: none;
    }
}